@charset "UTF-8";

h1{
	display : flex;
	justify-content: center
}

.article2 {
	position: relative;
	text-align: center;
	/*border : solid 0.1px;*/
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
	width: 450px;
	height: 690px;
	border-radius: 6px;
	margin: 20px;
	/*background-color: white;*/
	backdrop-filter: blur(8px); /* ajustez la valeur de flou souhaitée */
	filter: brightness(150%);
	overflow: visible;
	/* ajustez la valeur de luminosité souhaitée */
}

input {
  width: 200px;
}

.block2{
	display: flex;
	justify-content: center;
}

.container{
	display: flex;
 	align-items : center;
  	margin-bottom: 10px;
}

.container input {
  width: 250px; /* largeur personnalisée */
}

.div1 {
  width: 125px; /* largeur de l'étiquette */
  text-align: right; /* alignement du texte à droite */
  margin-right: -40px; /* espace à droite du texte */
}

.div2 {
  flex: 1; /* largeur de l'input */
}

.select{
	heigth : 50px;
	
}