@charset "UTF-8";

h4{
	text-align: center;
}

.article{
	position : relative ;
	text-align: center;
	border : solid 0.1px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	width : 400px;
	height : 600px;
	border-radius: 10px;
	margin : auto;
}

.bouton{
	width : 80px;
	height : 40px;
	border : solid 0.1px;
	border-radius: 6px;
}

.aligne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.gauche {
  grid-column: 1 / 2;
  /* styles pour .gauche */
}

.droite {
  grid-column: 2 / 3;
  /* styles pour .droite */
}

.block1 {
	display: flex;
	justify-content: center;
}
